**.user
**/obj
**/bin
**/res
**.tlb
**.tlh
**.olb
**.dll
**.obj
**.exe
**.ncb
**.suo
**.bak
**.log
**.sdf
**.opensdf
**.ipch
/vs
/src/FingerTree/bin
/src/FingerTree/obj
/src/FingerTree.UnitTests/bin
/src/FingerTree.UnitTests/obj
/src/FNSeq/bin
/src/FNSeq/obj
/src/TestDotNetCollection/bin
/src/TestDotNetCollection/obj